<h1>Welcome to the Fork Big Ciarano!</h1>
<% if defined?(PhusionPassenger) %>
  <p>Congratulations, you are running this app in Passenger!</p>
<% else %>
  <p>You are not running this app in Passenger. Please use <code>bundle exec passenger start</code>.</p>
<% end %>

<%= link_to "View Cars", cars_path %>
